<%- include('../layout/header.ejs')  %>
    <%- include('../partials/user-navbar.ejs')  %> 
        <!-- Header-->
        <img src="https://img.freepik.com/premium-photo/colorful-sport-shoes-mustard-color-wall_151013-4913.jpg?w=1060" class="d-block w-100 rounded-5 p-2" alt="not loaded">
        <div class="carousel-caption d-none d-md-block p-5" style="color: #e8e81e;">
            <h1 class="fw-bolder">Shoes speaks louder than words</h1>
            <h3 class="fw-bolder">Sunday is my favourite ‘S’ word after shoes</h3>
        </div>  
        
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    

                <% for(let i=0; i<result.length; i++) { %> 
                    <div class="col mb-5n col-12">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            
                                <form action="/add-wishlist?id=<%= result[i]._id %>" method="post">
                                    <div class="badge bg-light text-white position-absolute" style="top: 0.5rem; right: 0.5rem; cursor: pointer;"><button type="submit"  style="border: none; background: none; "><i class="fa-regular fa-heart"></i></button></div>
                                </form>
                               
                            
                           
                            <!-- Product image-->
                            <a href="/user_home/productView?id=<%= result[i]._id %>"><img class="card-img-top" src="/images/<%= result[i].image1 %> " alt="..." /></a>
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= result[i].productName %> </h5>
                                    <!-- Product reviews-->
                                    
                                    <!-- Product price-->
                                    <span style=" margin-right: 10px; font-size: 20px; font-weight: 600;">₹ <%= result[i].price %></span>   
                                    <span class="text-muted text-decoration-line-through" style="font-size: 16px">  </span> 
                                </div>
                                <div style="color: green; margin-top: 10px;">Free delivery</div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                   
                                        <form action="/user_home/add-to-cart?id=<%= result[i]._id %> " method="post">
                                            <div class="text-center"><button type="submit" class="btn btn-outline-dark mt-auto mb-3" style="width: 100%;">Add to cart</button></div>
                                        </form>
                                        
                            </div>
                        </div>
                    </div>
                    <% } %> 
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-danger">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        <%- include('../layout/footer.ejs')  %>       